body {
  background-image: url("../../assets/images/bg_home_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(164, 141, 37);
  text-align: start;
  font-weight: bold;
}
