@media (max-width: 767.98px) {
  .owl-carousel.home-slider .slider-item .slider-text {
    text-align: center;
  }
}
.owl-carousel.home-slider .slider-item .slider-text .subheading {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  color: #1b1b1b5e;
  outline: primary;
}
