body {
  background-color: #1e1c1c;
}

/* @media screen {
  .img1 {
    width: 100%;
  }
} */
/* 
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 800px !important;
  }
} */
