/* body {
  background-color: aquamarine;
}

.product__block-details {
  padding-top: 70px;
  padding-bottom: 70px;
}

.mySwiper1 .swiper-wrapper {
  justify-content: center;
}
.mySwiper1 .swiper-slide {
 
  cursor: pointer;
}
.mySwiper1 .swiper-slide .swiper-slide-thumb-active {
  border-bottom: 5px solid #1b5e20;
} */

.main-div {
  display: flex;
  margin: 10% 10%;
}

#imageCart {
  width: 600px;
  border-radius: 13px;
}
